{% extends "Business/index.html" %}
{% block body %}

<body><form action="/myapp/addslot_post/" method="post">
    {% csrf_token %}
    <table class="table table-bordered">
{#  <tr>#}
{#    <td>Slot Number</td>#}
{#    <td><label for="textfield"></label>#}
{#      <input type="number" name="textfield" id="textfield" class="form-control" required /></td>#}
{#  </tr>#}
  <tr>
    <td>Date</td>
    <td><label for="textfield1"></label>
      <input type="date" name="textfield1" id="textfield1" class="form-control" required/></td>
  </tr>
  <tr>
    <td>Time From</td>
    <td><label for="textfield2"></label>
      <input type="time" name="textfield2" id="textfield2" class="form-control" required/></td>
  </tr>
  <tr>
    <td>Time To</td>
    <td><label for="textfield3"></label>
      <input type="time" name="textfield3" id="textfield3" class="form-control" required/></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><input type="submit" name="button" id="button" value="Submit" class="btn btn-success"/></td>
  </tr>
</table>
</form>
</body>
{% endblock %}
