<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{#<a href="/myapp/signup/">signup</a> <br>#}
<a href="/myapp/changepassbussi/">Change Password</a> <br>
<a href="/myapp/viewprofile/">view profile</a> <br>
<a href="/myapp/editprofile/">edit profile</a> <br>
<a href="/myapp/addslot/">add slot</a> <br>
<a href="/myapp/viewslot/">view slot</a> <br>
<a href="/myapp/confirmslotreq/">confirm slot request</a> <br>
<a href="/myapp/viewapproslot/">view approved slot</a><br>
<a href="/myapp/viewrejectslot/">view rejected slot</a><br>
<a href="/myapp/viewnotifi/">view notification</a><br>
<a href="/myapp/sendfeed/">send feedback(reply)</a><br>

</body>
</html>