{% extends "Business/index.html" %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="/myapp/viewrejectslot_post/">
    {% csrf_token %}
<table width="200" border="1">
  <tr>
    <td><input type="text" name="textfield" id="textfield" placeholder="Search by Slot Number.."/></td>
    <td><input type="submit" name="button" id="button" value="Search" /></td>
  </tr>
</table>
<table width="200" border="1">
  <tr>
    <td>SI/No</td>
    <td>Photo</td>
    <td>Name</td>
    <td>Gender</td>
    <td>DOB</td>
    <td>Phone No.</td>
    <td>Email</td>
    <td>Address</td>
    <td>Slot No</td>
    <td>Date &amp; Time</td>
    <td>Status</td>
  </tr>
    {% for i in data %}
  <tr>
    <td>&nbsp;{{ forloop.counter }}</td>
    <td>&nbsp;<img src= "{{ i.USER.photo }}" height="100" width="100" ></td>
    <td>&nbsp;{{ i.USER.name }}</td>
    <td>&nbsp;{{ i.USER.gender }}</td>
    <td>&nbsp;{{ i.USER.dob }}</td>
    <td>&nbsp;{{ i.USER.phone }}</td>
    <td>&nbsp;{{ i.USER.email }}</td>
    <td>&nbsp;{{ i.USER.place }} <br> {{ i.USER.post }} <br> {{ i.USER.pincode }}</td>
    <td>&nbsp;{{ i.id }}</td>
    <td>&nbsp;{{ i.date }} <br> {{ i.time }}</td>
    <td>&nbsp;{{ i.status }}</td>
    
  </tr>
    {% endfor %}
</table>
</form>
</body>
{% endblock %}
