{% extends "Business/index.html" %}
{% block body %}

<div style="overflow:scroll;">
<form id="form1" name="form1" method="post" action="/myapp/viewapproslot_post/">
    {% csrf_token %}
<table class="pull-left">
  <tr>
    <td><input type="text" name="textfield" id="textfield" placeholder="Search by Slot Number.."/></td>
    <td><input type="submit" name="button" id="button" value="Search" /></td>
  </tr>
</table>
<table class="table table-bordered">
  <tr>
    <th>SI/No</th>
    <th>Photo</th>
    <th>Name</th>
    <th>Gender</th>
    <th>DOB</th>
    <th>Phone No.</th>
    <th>Email</th>
    <th>Address</th>
    <th>Slot No</th>
    <th>Date &amp; Time</th>
    <th>Status</th>
    <th colspan="3"></th>
  </tr>
    {% for i in data %}
  <tr>
    <td>&nbsp;{{ forloop.counter }}</td>
    <td>&nbsp;<img src= "{{ i.USER.photo }}" height="100" width="100" ></td>
    <td>&nbsp;{{ i.USER.name }}</td>
    <td>&nbsp;{{ i.USER.gender }}</td>
    <td>&nbsp;{{ i.USER.dob }}</td>
    <td>&nbsp;{{ i.USER.phone }}</td>
    <td>&nbsp;{{ i.USER.email }}</td>
    <td>&nbsp;{{ i.USER.place }} <br> {{ i.USER.post }} <br> {{ i.USER.pincode }}</td>
    <td>&nbsp;{{ i.SLOT.number }}</td>
    <td>&nbsp;{{ i.date }} <br> {{ i.time }}</td>
    <td>{{ i.status }}</td>
    <td><a href="/myapp/sendnotifibusines/{{ i.USER.LOGIN.id }}" class="btn btn-outline-secondary">Send Notification</a></td>
    <td><a href="/myapp/chat/{{ i.USER.LOGIN.id }}" class="btn btn-primary">Chat</a></td>
    <td><a href="/myapp/business_updatestatus/{{ i.id }}" class="btn btn-success">Finish</a></td>
  </tr>
    {% endfor %}
</table>
</form>
</div>
{% endblock %}
