{% extends "Business/index.html" %}
{% block body %}

<body><form action="" method="get"><table class="table table-borderd">
  <tr>
    <th>SI/No</th>
    <th>Slot Number</th>
    <th>Date</th>
    <th>Time From</th>
    <th>Time To</th>
    <th>&nbsp;</th>
  </tr>
    {% for i in data %}
  <tr>
    <td>&nbsp;{{ forloop.counter }}</td>
    <td>&nbsp;{{ i.number }}</td>
    <td>&nbsp;{{ i.date }}</td>
    <td>&nbsp;{{ i.fromtime }}</td>
    <td> {{ i.totime }}</td>
    <td><a href="/myapp/deleteslot/{{ i.id }}" class="btn btn-danger" onclick="return confirm('Are You Sure?')">Delete</a></td>
  </tr>
    {% endfor %}
</table>
</form>
</body>
{% endblock %}
