<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a href="/myapp/changepass/">change password</a><br>
<a href="/myapp/viewbusinesapprorej/">view bussiness approve/reject</a> <br>
<a href="/myapp/viewapprobusines/">view approved bussiness</a> <br>
<a href="/myapp/viewrejectbusines/">view rejected bussiness</a><br>
<a href="/myapp/viewuser/">view users</a> <br>
<a href="/myapp/sendnotifi/">send notification</a> <br>
<a href="/myapp/viewfeedapp/">view feedback app</a> <br>
<a href="/myapp/viewfeedbusines/">view feedback about bussiness frm user</a> <br>
<a href="/myapp/viewfeedfrmbusines/">view feedback(reply) from bussiness</a><br>

</body>
</html>